# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Download_files\codecanyon-fFA1EMtr-teego-ios-and-android-live-streaming-with-up-to-4-participants-feed-paid-calls-and-payouts\Main Files\admincp\admincp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
